<%- include('./header'); %>
<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic text-info">Nede Tech is Your Future Shop</h1>
      <p class="lead my-3">
        Apa yang diperlukan masyarakat saat ini untuk mempermudah mobilitas mereka sehari-hari? Ya tentu saja technology bukan, nah kami Nede Tech akan membantu anda memilih barang-barang yang terbaik. Semua barang yang kami jual disini
        adalah produk-produk terbaik dari supplier resmi yang berada diseluruh dunia dengan begitu anda tidak perlu takut untuk memilih produk yang kami jual.
      </p>
    </div>
  </div>

  <div class="p-4 p-md-5 mb-4 text-white rounded bg-secondary">
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <img src="img/profile1.png" width="300" class="rounded-circle" />
        <h1 class="display-4">Bryan Rantung</h1>
        <p class="lead">Welcome To Nede Shop Website For Test Design Pattern.</p>
      </div>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="location col-md-6" id="location">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Locations</h2>
        <p>
          Jl.Ethernal No.404 Kel. Moon, Kec. Star<br />
          Marvels Studio<br />
          <a href="https://www.google.com/maps">View Here!</a>
        </p>
      </div>
    </div>
    <div class="terms col-md-6" id="terms">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Terms</h2>
        <p>Dengan membeli di website kami anda telah dianggap menerima semua ketentuan yang diberlakukan toko kami tanpa ada suatu keterpaksaan tertentu.</p>
      </div>
    </div>
  </div>
  <%- include('./footer'); %>
</main>
