<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="container-fluid border border-primary main-container">
      <!-- navigatiion -->
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 border border-secondary">
              <div class="container border border-danger">
                <div class="row justify-content-md-center">
                  <div class="col-sm border border-success">
                    <a href="/">Home</a>
                  </div>
                  <div class="col-sm border border-success">
                    <img
                      src="/pictures/logo-binar.png"
                      alt="binar"
                      class="logo"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 border border-secondary">
              <a href="/marvel">marvel</a>
            </div>
            <div class="col-sm-3 border border-secondary">
              <a href="/dc">Dc</a>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <h1>BODY</h1>
      </div>
    </div>
  </body>
</html> -->
    <!-- </div> -->
  </body>
</html>
