<%- include('./head'); %>

<div class="row justify-content-md-center"">
  <div class="col-3 border border-danger">
    <li>DAFTAR</li>
    <li>DAFTAR</li>
    <li>DAFTAR</li>
    <li>DAFTAR</li>
    <li>DAFTAR</li>
  </div>
  <div class="col-9 border border-danger main-content">
    <h1>MAIN</h1>
  </div>
</div>
<%- include('./footer'); %>
